/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: auto;
    
}
@font-face {
    font-family:"hand-craft";
    src: url(../fonts/Hand\ Craft.ttf);
}


body{
    height: 100vh;
    width: 100%;
   
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    justify-content:flex-start;
    align-items: center;
    width: 400px;
    height: 200px;
}
.cabecera, .navbar, .seccion, .seccion2, .articulo, .pie {
    padding: 10px;
    border: 1px solid;
}   

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 40px repeat(2, 250px)70px;
    row-gap: 10px;
    column-gap:5px;
    grid-template-areas: 
    "cabecera cabecera cabecera"
    "navbar navbar navbar"
    "section articulo articulo"
    "section section2 section2"
    "pie pie pie";
    
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    
}

.cabecera{
    grid-area: cabecera;
    
    
}
.navbar{
    grid-area: navbar;
    
    
}

.seccion{
    grid-area: section;

}
.articulo{
    grid-area: articulo;
    
}
.seccion2 {
    grid-area: section2;
}
.pie{
    grid-area: pie;
}




















/* media queries */

@media (max-width: 480px){
    body{
        background: teal;
    }
    header {
        background: #ffffff;
    }
    .navbar ul{
        justify-content: center;
       
    }
    .navbar ul li{
        text-transform: uppercase;
    }
}
@media (min-width: 1200px){
    body{
        background: teal;
    }
    header {
        background: #ffffff;
    }
}