/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins";
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Montserrat-Regular.ttf);
}
header.padre {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

a {
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #edf2f4;
}
a:hover {
  color: black;
}

/*Variables*/
nav.navbar {
  background: #ef233c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav.navbar .nav-link.active {
  color: #021f54;
}
nav.navbar li .nav-link {
  color: #edf2f4;
  font-weight: bold;
  font: normal 24px "poppins", sans-serif;
}
nav.navbar .navbar-nav .nav-link:hover {
  color: #021f54;
  text-decoration: underline;
}

main.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 100px repeat(2, 500px) 150px;
  row-gap: 10px;
  column-gap: 5px;
  grid-template-areas: "navbar navbar navbar" "cabecera cabecera cabecera" "section1 imagen1 imagen1" "imagen2 imagen2 section2" "pie pie pie";
}
main.grid .cabecera {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
  grid-area: cabecera;
}
main.grid .navbar {
  grid-area: navbar;
}
main.grid .section1 {
  margin-left: 150px;
  grid-area: section1;
}
main.grid .section2 {
  margin-right: 150px;
  grid-area: section2;
}
main.grid .footer {
  grid-area: pie;
}
main.grid .imagen1 {
  grid-area: imagen1;
}
main.grid .imagen2 {
  grid-area: imagen2;
}

/*Variables*/
footer .footer {
  background-color: #ef233c;
  height: 150px;
  margin-top: 150px;
}
footer .footer .pie {
  height: 80px;
  padding: 20px;
}
footer .footer .footer__migajas {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}
footer .footer .footer__migajas .breadcrumb-item a {
  font: normal 20px "poppins", sans-serif;
}
footer .footer .footer__migajas .breadcrumb-item a:hover {
  color: #021f54;
}
footer .footer .footer__migajas .breadcrumb-item.active {
  color: #021f54;
}
footer .pie {
  background-color: #ef233c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
footer .pie .pie__p1 {
  padding: 5px 0px;
  color: #edf2f4;
}
footer .pie .pie__subir:hover {
  color: #edf2f4;
}
footer .pie .pie__subir:hover:active {
  color: #021f54;
}
footer .pie .pie__enlaces--insta:hover {
  color: #3d0158;
}
footer .pie .pie__enlaces--face:hover {
  color: #143a8d;
}
footer .pie .pie__enlaces--whatsapp:hover {
  color: #1b6811;
}
footer .pie .pie__enlaces--mail:hover {
  color: red;
}

/*Variables*/
/*Variables*/
body {
  background-color: #021f54;
}

body {
  width: 100%;
  height: 100vh;
}

/*Index*/
section.cabecera {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-items: center;
}
section.cabecera .cabecera__titular {
  font: normal 30px "poppins", sans-serif;
  color: #ef233c;
  padding: 5px;
}
section.cabecera .cabecera__subtitulo {
  color: #edf2f4;
  font: normal 24px "poppins", sans-serif;
}

section.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.section1 .section1__text {
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 10px;
  color: #edf2f4;
  font: normal 16px "poppins";
}

section.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.section2 .section2__text {
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 10px;
  color: #edf2f4;
}

div.imagen1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.imagen1 .imagen1__custom {
  width: 650px;
  height: 320px;
}

div.imagen2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.imagen2 .imagen2__custom {
  width: 650px;
  height: 320px;
}

footer.footer {
  background-color: #ef233c;
  height: 150px;
  margin-top: 150px;
}
footer.footer .pie {
  height: 80px;
  padding: 20px;
}
footer.footer .footer__migajas {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}
footer.footer .footer__migajas .breadcrumb-item a {
  font: normal 20px "poppins", sans-serif;
}
footer.footer .footer__migajas .breadcrumb-item a:hover {
  color: #021f54;
}
footer.footer .footer__migajas .breadcrumb-item.active {
  color: #021f54;
}

/*Contacto*/
section.paginacontacto {
  margin-top: 20px;
}
section.paginacontacto .paginacontacto__contacto {
  color: #edf2f4;
  font: normal 16px "poppins";
  text-align: center;
  padding: 50px 10px;
}
section.paginacontacto .paginacontacto__contacto .paginacontacto__contacto--h1 {
  font: bold 30px "poppins", san-serif;
  color: #ef233c;
}
section.paginacontacto .paginacontacto__iframe--mapa {
  width: 500px;
  height: 400px;
}

section.horario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #edf2f4;
}
section.horario h3 {
  font: normal 20px "poppins", sans-serif;
}
section.horario h4 {
  font: normal 18px "poppins", sans-serif;
}
section.horario h5 {
  font: normal 16px "poppins";
}
section.horario .formulario__etiqueta {
  width: 500px;
}
section.horario .comentarios__area {
  max-height: 150px;
  resize: vertical;
}

section div.float .float__flex--icono {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 80px;
}

/*Servicios*/
section.section-principal {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  color: #edf2f4;
}
section.section-principal div.texto-servicios__encabezado .texto-servicios__encabezado--principal {
  color: #edf2f4;
  font-style: bold;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 30px;
}
section.section-principal div.texto-servicios__encabezado .texto-servicios__encabezado--secundario {
  margin-bottom: 20px;
}
section.section-principal div.texto__lista .texto__lista--items {
  margin-left: 10px;
}
section.section-principal .boton__enviar--consultar {
  position: relative;
  top: 50px;
}
section.section-principal .boton__enviar--consultar:hover {
  color: #021f54;
  background-color: #ef233c;
}
section.section-principal .boton__enviar--consultar:active {
  color: #edf2f4;
}
section.section-principal div.imagenes .imagenes__img1,
section.section-principal div.imagenes .imagenes__img2 {
  width: 500px;
  height: 200px;
  margin: 0.5rem 0;
}

section.financiacion {
  position: relative;
  bottom: -110px;
  height: 70px;
  text-align: center;
  background-color: #ef233c;
  border-radius: 10px;
  width: 1000px;
  align-items: center;
}
section.financiacion .financiacion__titulo {
  padding: 25px 10px;
  color: #edf2f4;
}
section.financiacion .financiacion__pagos {
  background-color: #edf2f4;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  width: 500px;
  height: 50px;
}
section.financiacion .financiacion__pagos--visa {
  width: 65px;
}

/*Nosotros*/
section .card {
  background-color: #021f54;
  margin-top: 20px;
  border: none;
}
section .card .card-body {
  color: #edf2f4;
  padding: 5px;
  margin: 10px;
}
section div img.local,
section div img.local1 {
  width: 800px;
  height: 400px;
}

/*Productos*/
section.productos-flex {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
section.productos-flex .tabla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
section.productos-flex .tabla .boton-visible,
section.productos-flex .tabla .productos-oculto {
  width: 150px;
}
section.productos-flex .tabla1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.productos-flex .tabla1 h2 {
  font: normal 24px "poppins", sans-serif;
  color: #edf2f4;
  margin-bottom: 20px;
}
section.productos-flex .tabla1 .icon {
  width: 40px;
  height: 40px;
}
section.productos-flex .tabla1 .img-productos .img-productos__muestras {
  width: 250px;
  height: auto;
  padding: 2px;
}

/* Media queries */ /*Variables*/
@media screen and (max-width: 620px) {
  /* Secciones generales */
  header.padre {
    padding-top: 0px;
    width: auto;
    height: 250px;
  }
  nav.navbar {
    position: static;
  }
  nav.navbar .grilla__boton--hamburguesa {
    background-color: #ef233c;
  }
  nav.navbar .hamburguesa__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    align-items: flex-start;
  }
  footer .footer__migajas .breadcrumb-item a {
    font: normal 18px "poppins", sans-serif;
  }
  footer .footer__migajas .breadcrumb-item.active {
    font: normal 16px "poppins";
    color: #021f54;
  }
  footer div.pie {
    padding: 0;
    height: 150px;
    background: #ef233c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font: normal 16px "poppins";
  }
  footer div.pie .pie__p1 {
    position: relative;
    margin-left: 5px;
  }
  footer div.pie .pie__enlaces {
    position: relative;
    left: 5px;
    bottom: 60px;
  }
  footer div.pie .pie__subir {
    position: relative;
    left: 85%;
    bottom: 55px;
    color: #edf2f4;
  }
  footer div.pie .pie__subir:active {
    color: #021f54;
  }
  /* Index */
  main.grid {
    row-gap: 10px;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "navbar navbar navbar" "cabecera cabecera cabecera" "imagen1 imagen1 imagen1" "section1 section1 section1" "imagen2 imagen2 imagen2" "section2 section2 section2" "pie pie pie";
  }
  main.grid section.cabecera {
    height: 150px;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
  }
  main.grid section.cabecera .cabecera__titular {
    font-size: 24px;
    margin-bottom: 20px;
  }
  main.grid section.cabecera .cabecera__subtitulo {
    font-size: 18px;
  }
  main.grid div .imagen1__custom,
  main.grid div .imagen2__custom {
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 275px;
  }
  main.grid section.section1 {
    margin: 0;
    text-align: center;
    height: 250px;
  }
  main.grid section.section1 .section1__text {
    padding: 10px;
    height: 220px;
  }
  main.grid section.section2 {
    margin: 0;
    text-align: center;
    height: 200px;
  }
  main.grid section.section2 .section2__text {
    padding: 10px;
    height: 120px;
  }
  /* Pagina de contacto */
  section.paginacontacto .paginacontacto__contacto {
    padding: 10px 5px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  section.paginacontacto .paginacontacto__iframe--mapa {
    width: 100%;
    height: 200px;
  }
  section.horario {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
  }
  section.horario .formulario__etiqueta {
    width: 300px;
  }
  section.horario .horario__atencion {
    margin-bottom: 20px;
  }
  section div.float .float__flex--icono {
    display: none;
  }
  /*Nosotros*/
  section div img.local,
  section div img.local1 {
    width: 320px;
    height: 200px;
  }
  /*Servicios*/
  div.imagenes {
    margin-top: 80px;
  }
  section.financiacion {
    width: auto;
    height: 80px;
    padding: 10px;
    margin-bottom: 120px;
    position: relative;
    top: 20px;
  }
  section.financiacion .financiacion__titulo {
    text-align: center;
    position: absolute;
    height: 100px;
  }
  section.financiacion .financiacion__titulo .financiacion__titulo--parrafo {
    margin-top: 5px;
    height: 50px;
    text-align: center;
  }
  section.financiacion .financiacion__pagos {
    position: relative;
    top: 75px;
    margin: 0;
    padding: 0;
    justify-content: space-around !important;
    align-items: center;
    background-color: #edf2f4;
    border-radius: 15px;
    min-width: 320px;
    height: 60px;
  }
  section.financiacion .financiacion__pagos .icon {
    width: 65px;
    height: 35px;
  }
  section.financiacion .financiacion__pagos .financiacion__pagos--mastercard,
  section.financiacion .financiacion__pagos .financiacion__pagos--visa {
    width: 45px;
  }
  /*Productos*/
  section.productos-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  section.productos-flex .list-group {
    width: 250px;
  }
  section.productos-flex div.tabla .boton-visible {
    width: 250px;
  }
  section.productos-flex div.tabla .productos-oculto {
    display: none;
  }
  section.productos-flex div.tabla1 {
    margin-top: 10px;
  }
  section.productos-flex div.tabla1 h2 {
    font-size: 1rem;
  }
  section.productos-flex div.tabla1 .img-productos .img-productos__muestras {
    width: 190px;
    height: 100px;
  }
}
@media (min-width: 320px) and (max-width: 404px) {
  /*Productos*/
  section.productos-flex div.tabla1 {
    width: 100%;
  }
  section.productos-flex div.tabla1 .img-productos {
    margin: 0;
  }
  section.productos-flex div.tabla1 .img-productos .img-productos__muestras {
    padding: 1px;
    width: 150px;
    height: 100px;
  }
}
@media (min-width: 576px) and (max-width: 620px) {
  /*Index*/
  div.imagen1 .imagen1__custom,
  div.imagen1 .imagen2__custom,
  div.imagen2 .imagen1__custom,
  div.imagen2 .imagen2__custom {
    width: 95% !important;
    height: 300px !important;
  }
  /*Productos*/
  section.productos-flex button.productos-oculto {
    display: none;
  }
  section.productos-flex .list-group {
    width: 350px;
  }
  section.productos-flex div.tabla .boton-visible {
    width: 350px;
  }
}
@media (min-width: 620px) and (max-width: 767px) {
  /*General*/
  header.padre {
    padding-top: 0px;
    height: 300px;
  }
  nav.navbar {
    position: static;
  }
  nav.navbar .grilla__boton--hamburguesa {
    background-color: #ef233c;
  }
  nav.navbar .hamburguesa__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    align-items: flex-start;
  }
  footer.pie {
    padding: 20px 0;
    height: 200px;
    background: #ef233c;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 12px;
    margin-top: 10px;
  }
  footer.pie .pie__p1 {
    position: relative;
    left: 30px;
    margin-left: 10px;
  }
  footer.pie .pie__enlaces {
    position: relative;
    left: 30px;
    bottom: 50px;
  }
  footer.pie .pie__subir {
    position: relative;
    left: 85%;
    bottom: 55px;
    color: #edf2f4;
  }
  /*Index*/
  main.grid {
    row-gap: 10px;
    grid-template-rows: 65px 150px repeat(4, auto) 200px;
    grid-template-areas: "navbar navbar navbar" "cabecera cabecera cabecera" "imagen1 imagen1 imagen1" "section1 section1 section1" "imagen2 imagen2 imagen2" "section2 section2 section2" "pie pie pie";
  }
  main.grid section.cabecera {
    height: 180px;
    margin-top: 10px;
  }
  main.grid section.cabecera .cabecera__titular {
    font-size: 24px;
    margin-bottom: 20px;
  }
  main.grid section.cabecera .cabecera__subtitulo {
    font-size: 18px;
  }
  main.grid section.section1 {
    margin: 0;
    margin-top: 20px;
    height: 250px;
  }
  main.grid section.section1 .section1__text {
    padding: 10px;
    height: 230px;
  }
  main.grid section.section2 {
    margin: 0;
    height: 200px;
  }
  main.grid section.section2 .section2__text {
    padding: 10px;
    height: 120px;
    margin: 0;
  }
  main.grid div .imagen1__custom,
  main.grid div .imagen2__custom {
    width: 95%;
    height: 350px;
  }
  /*Contacto*/
  section.horario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  /*Nosotros*/
  section div img.local,
  section div img.local1 {
    width: 600px;
    height: 350px;
  }
  section div.float .float__flex--icono {
    display: none;
  }
  /*Servicios*/
  div.imagenes {
    margin-top: 80px;
  }
  div.imagenes .imagenes__img1,
  div.imagenes .imagenes__img2 {
    height: 250px !important;
  }
  section.financiacion {
    width: auto;
    height: 80px;
    padding: 10px;
    margin-bottom: 120px;
    position: relative;
    top: 20px;
  }
  section.financiacion .financiacion__titulo {
    text-align: center;
    position: absolute;
    height: 100px;
  }
  section.financiacion .financiacion__titulo .financiacion__titulo--parrafo {
    margin-top: 5px;
    height: 50px;
    text-align: center;
  }
  section.financiacion .financiacion__pagos {
    position: relative;
    top: 75px;
    margin: 0;
    padding: 0;
    justify-content: space-around !important;
    align-items: center;
    background-color: #edf2f4;
    border-radius: 15px;
    min-width: 320px;
    height: 60px;
  }
  section.financiacion .financiacion__pagos .icon {
    width: 65px;
    height: 35px;
  }
  section.financiacion .financiacion__pagos .financiacion__pagos--mastercard,
  section.financiacion .financiacion__pagos .financiacion__pagos--visa {
    width: 45px;
  }
  /*Productos*/
  section.productos-flex button.productos-oculto {
    display: none;
  }
  section.productos-flex #collapseWidthExample {
    display: block;
    width: 150px;
  }
  div.tabla1 {
    margin-top: 10px;
  }
  div.tabla1 h2 {
    font-size: 1rem;
  }
  div.tabla1 .img-productos .img-productos__muestras {
    width: 190px;
    height: 100px;
  }
}
@media (min-width: 620px) and (max-width: 694px) {
  /*Productos*/
  section.productos-flex button.productos-oculto {
    display: none;
  }
  section.productos-flex #collapseWidthExample {
    display: block;
    width: 150px;
  }
  div.tabla1 .img-productos .img-productos__muestras {
    width: 200px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /*General*/
  header.padre {
    padding-top: 0px;
    height: 350px;
  }
  nav.navbar {
    position: static;
  }
  nav.navbar .grilla__boton--hamburguesa {
    background-color: #ef233c;
  }
  nav.navbar .hamburguesa__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    align-items: flex-start;
  }
  footer.pie {
    padding: 20px 0;
    height: 200px;
    background: #ef233c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 12px;
    margin-top: 50px;
  }
  footer.pie .pie__p1 {
    position: relative;
    left: 30px;
    margin-left: 10px;
  }
  footer.pie .pie__enlaces {
    position: relative;
    left: 30px;
    bottom: 50px;
  }
  footer.pie .pie__subir {
    position: relative;
    left: 85%;
    bottom: 55px;
    color: #edf2f4;
  }
  footer.pie .pie__subir:hover {
    color: #edf2f4;
  }
  /*Index*/
  main.grid {
    row-gap: 10px;
    grid-template-rows: 70px 200px repeat(2, 350px) 200px;
    grid-template-areas: "navbar navbar navbar" "cabecera cabecera cabecera" "imagen1 imagen1 section1" "section2 imagen2 imagen2" "pie pie pie";
  }
  main.grid section.cabecera {
    height: 150px;
    margin-top: 10px;
  }
  main.grid section.cabecera .cabecera__titular {
    font: normal 30px "poppins", sans-serif;
    margin-bottom: 20px;
  }
  main.grid section.cabecera .cabecera__subtitulo {
    font: normal 24px "poppins", sans-serif;
  }
  main.grid section.section1 {
    margin: 0;
    margin-top: 80px;
    height: 200px;
  }
  main.grid section.section1 .section1__text {
    padding: 10px;
    height: 230px;
  }
  main.grid section.section2 {
    margin: 0;
    margin-top: 30px;
    height: 200px;
  }
  main.grid section.section2 .section2__text {
    padding: 10px;
    height: 120px;
    margin: 0;
  }
  main.grid div .imagen1__custom,
  main.grid div .imagen2__custom {
    width: 90%;
    height: 300px;
  }
  /*Contacto*/
  section.horario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 30px;
  }
  section.horario .horario__atencion {
    width: 320px;
  }
  section.horario .formulario__etiqueta {
    color: #edf2f4;
    width: 300px;
  }
  section.horario .comentarios__area {
    max-height: 150px;
    resize: vertical;
  }
  section div.float .float__flex--icono {
    position: fixed;
    bottom: 40px;
    right: 50px;
    width: 80px;
  }
  /*Nosotros*/
  section div img.local,
  section div img.local1 {
    width: 600px;
    height: 330px;
  }
  /*Servicios*/
  section div.servicios {
    display: flex;
    flex-flow: row nowrap;
  }
  section div.servicios div.imagenes {
    position: relative;
    top: 100px;
    left: 15px;
  }
  section div.servicios .texto-servicios__encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  section div.servicios .texto-servicios__encabezado .texto-servicios__encabezado--secundario {
    margin-top: 20px;
  }
  section.financiacion {
    height: 100px;
    margin-bottom: 250px;
  }
  section.financiacion .financiacion__titulo {
    height: 100px;
  }
  section.financiacion .financiacion__pagos {
    position: relative;
    top: 5px;
  }
  /*Productos*/
  section.productos-flex .tabla .boton-visible {
    width: 180px;
  }
  section.productos-flex .tabla button.productos-oculto {
    display: none;
  }
  section.productos-flex .tabla #collapseWidthExample {
    display: block;
    width: 180px;
  }
  section.productos-flex .tabla1 .img-productos .img-productos__muestras {
    width: 220px;
    height: 120px;
  }
}
@media (min-width: 992px) {
  /*Footer*/
  footer.pie {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  /*Productos*/
  section.productos-flex .tabla .boton-visible {
    width: 200px;
  }
  section.productos-flex .tabla button.productos-oculto {
    display: none;
  }
  section.productos-flex .tabla #collapseWidthExample {
    display: block;
    width: 200px;
  }
  section.productos-flex .tabla1 .img-productos .img-productos__muestras {
    width: 220px;
    height: 120px;
  }
}

/*# sourceMappingURL=style.css.map */
