/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "poppins";


}

@font-face {
    font-family: "hand-craft";
    src: url(../fonts/Hand\ Craft.ttf);
}

/* Estilos del body y main */
body {
    width: 100%;
    height: 100vh;
    /* background: #021f54; */
}


/* Logo */

.padre {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

}

/* imagenes */



.imagen1__custom,
.imagen2__custom {
    width: 650px;
    height: 350px;


}

/* header y titulo */
.cabecera {
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.titular {
    font-size: 30px;
    font-family: "poppins";
    padding: 5px;
    color: #edf2f4;

}

/* Secciones de la pagina */
.cabecera,
.navbar,
.section1,
.section2,
.section3,
.pie,
.imagen1,
.imagen2 {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.navbar li .nav-link {
    color: #edf2f4;
    font-family: "poppins";
    font-size: 24px;
}


.section1__text,
.section2__text {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 10px;
    color: #edf2f4;

}

/* Grid layout */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 50px repeat(2, 500px)80px;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-areas:
        "navbar navbar navbar"
        "cabecera cabecera cabecera"
        "section1 imagen1 imagen1"
        "imagen2 imagen2 section2"
        "pie pie pie";

}

.cabecera {
    grid-area: cabecera;
}

.navbar {
    grid-area: navbar;
    background: #ef233c;
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.pie {
    padding: 20px;
    grid-area: pie;
    color: #edf2f4;
}

.imagen1 {
    grid-area: imagen1;

}

.imagen2 {
    grid-area: imagen2;

}

/* Pie de pagina y enlaces */
a {
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color: #edf2f4;
}

a:hover {
    color: black;
}

.navbar-nav .nav-link:hover {
    color: black;
    text-decoration: underline;

}

.pie {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.pie__p1 {
    padding: 5px 0px;
}


.pie__subir:hover {
    color: #ef233c;
}


.pie__subir:active {
    color: #ffffff;
}


.pie__enlaces--insta:hover {
    color: #3d0158
}

.pie__enlaces--face:hover {
    color: #0e0447
}

.pie__enlaces--whatsapp:hover {
    color: #1b6811
}

.pie__enlaces--mail:hover {
    color: #c50404
}


/* pagina contacto */


body.contacto{
    background: #e67474;
}

.row{
    background: #9e0606;
    border: 1px solid;
}
.col{
    border: 1px solid;
}



.container{
    text-align: center;
    
}












@media (min-width: 200px) and (max-width: 620px) {
    .titular {
        font-size: 24px;
        text-align: center;
    }

    .padre {
        height: auto;
    }

    .hamburguesa__lista {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        align-items: flex-start;
    }

    nav.navbar {
        position: static;
    }

    .imagen1__custom,
    .imagen2__custom {
        width: auto;
        height: auto;


    }

    .section1,
    .section2 {
        text-align: center;
    }

    .section1__text {
        height: 150px;
        text-align: center;
        padding: 5px;

    }

    .section2__text {
        height: 200px;
        text-align: center;


    }

    .grid {
        row-gap: 10px;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
            "navbar navbar navbar"
            "cabecera cabecera cabecera"
            "imagen1 imagen1 imagen1"
            "section1 section1 section1"
            "imagen2 imagen2 imagen2"
            "section2 section2 section2"
            "pie pie pie";
    }

    .pie {
        font-size: 10px;

    }

    .grilla__boton--hamburguesa {
        background-color: #ef233c;
        ;

    }


}

@media (min-width: 621px) and (max-width: 768px) {
    nav.navbar {
        position: static;
    }

    .section1__text {
        height: 120px;
        text-align: center;
        padding: 5px;

    }

    .section2__text {
        height: 200px;
        text-align: center;


    }

    .grid {
        row-gap: 5px;
        grid-template-rows: auto 100px auto 150px auto 200px 70px;
        grid-template-areas:
            "navbar navbar navbar"
            "cabecera cabecera cabecera"
            "imagen1 imagen1 imagen1"
            "section1 section1 section1"
            "imagen2 imagen2 imagen2"
            "section2 section2 section2"
            "pie pie pie";
    }

    .grilla__boton--hamburguesa {
        background-color: #ef233c;
        ;

    }

    .hamburguesa__lista {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        align-items: flex-start;
    }

    .imagen1__custom,
    .imagen2__custom {
        width: 100%;
        height: auto;


    }

    .pie {
        font-size: 14px;

    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    .section1__text,
    .section2__text {
        font-size: 18px;

    }

    .grid {
        row-gap: 5px;
        grid-template-rows: auto 100px 400px 450px 70px;
        grid-template-areas:
            "navbar navbar navbar"
            "cabecera cabecera cabecera"
            "section1 imagen1 imagen1"
            "imagen2 imagen2 section2"
            "pie pie pie";
    }

    .imagen1__custom {
        width: 100%;
        height: 300px;


    }

 


}