/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins";
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Montserrat-Regular.ttf);
}
/* Estilos del body y main */
body {
  width: 100%;
  height: 100vh;
  background: #021f54;
}

/* Logo */
header.padre {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

nav.navbar {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav.navbar li .nav-link {
  color: #edf2f4;
  font-family: "poppins";
  font-size: 24px;
}
nav.navbar .navbar-nav .nav-link:hover {
  color: black;
  text-decoration: underline;
}

main.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 100px repeat(2, 500px) 80px;
  row-gap: 10px;
  column-gap: 5px;
  grid-template-areas: "navbar navbar navbar" "cabecera cabecera cabecera" "section1 imagen1 imagen1" "imagen2 imagen2 section2" "pie pie pie";
}
main.grid .cabecera {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
  grid-area: cabecera;
}
main.grid .navbar {
  grid-area: navbar;
  background: #ef233c;
}
main.grid .section1 {
  margin-left: 150px;
  grid-area: section1;
}
main.grid .section2 {
  margin-right: 150px;
  grid-area: section2;
}
main.grid .pie {
  padding: 20px;
  grid-area: pie;
  color: #edf2f4;
}
main.grid .imagen1 {
  grid-area: imagen1;
}
main.grid .imagen2 {
  grid-area: imagen2;
}

section.cabecera {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-items: center;
}
section.cabecera .cabecera__titular {
  font-size: 30px;
  font-family: "poppins";
  padding: 5px;
  color: #ef233c;
}
section.cabecera .cabecera__subtitulo {
  color: #edf2f4;
  font-size: 20px;
}

section.section1 {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
}
section.section1 .section1__text {
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 10px;
  color: #edf2f4;
}

section.section2 {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
}
section.section2 .section2__text {
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 10px;
  color: #edf2f4;
}

div.imagen1 {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
}
div.imagen1 .imagen1__custom {
  width: 650px;
  height: 350px;
}

div.imagen2 {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
}
div.imagen2 .imagen2__custom {
  width: 650px;
  height: 350px;
}

footer.pie {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}
footer.pie .pie__p1 {
  padding: 5px 0px;
}
footer.pie .pie__subir:hover {
  color: #ef233c;
}
footer.pie .pie__subir:hover:active {
  color: #ffffff;
}
footer.pie .pie__enlaces--insta:hover {
  color: #3d0158;
}
footer.pie .pie__enlaces--face:hover {
  color: #0e0447;
}
footer.pie .pie__enlaces--whatsapp:hover {
  color: #1b6811;
}
footer.pie .pie__enlaces--mail:hover {
  color: #c50404;
}

a {
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #edf2f4;
}
a:hover {
  color: black;
}

/*# sourceMappingURL=style.css.map */
