@import "./partials/reset";
@import "./partials/fonts";
@import "./partials/logo";
@import "./partials/enlaces";
@import "./partials/grid-navbar";
@import "./partials/footer";
@import "./partials/mixin";
@import "./partials/variables";
@import "./partials/condicionales";



body {


    width: 100%;
    height: 100vh;

}


/*Index*/

section.cabecera {

    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-items: center;

    .cabecera__titular {
        font: $titular;
        color: $color-red-custom;
        padding: 5px;

    }

    .cabecera__subtitulo {
        color: $color-texto;
        font: $subtitulo;
    }

}




section.section1 {

    @include flex (flex, row, center);
    align-items: center;


    .section1__text {
        width: 300px;
        height: 200px;
        text-align: center;
        padding: 10px;
        color: $color-texto;
        font: $font-texto
    }

}


section.section2 {

    @include flex (flex, row, center);
    align-items: center;



    .section2__text {
        width: 300px;
        height: 200px;
        text-align: center;
        padding: 10px;
        color: $color-texto;
    }

}

div.imagen1 {
    @include flex (flex, row, center);
    align-items: center;

    .imagen1__custom {
        @include imagenes (650px, 320px);


    }


}

div.imagen2 {

    @include flex (flex, row, center);
    align-items: center;

    .imagen2__custom {
        @include imagenes (650px, 320px);


    }


}


footer.footer {
    background-color: $color-red-custom;
    height: 150px;
    margin-top: 150px;

    .pie {
        height: 80px;
        padding: 20px;

    }

    .footer__migajas {
        height: 80px;
        @include flex (flex, row, flex-start);
        align-items: center;
        padding: 10px 20px;

        .breadcrumb-item {
            a {
                font: $h3;

                &:hover {
                    color: $color-body;
                }

            }

        }

        .breadcrumb-item.active {
            color: $color-body;
        }
    }

}


/*Contacto*/

section.paginacontacto {

    margin-top: 20px;

    .paginacontacto__contacto {
        color: $color-texto;
        font: $font-texto;
        text-align: center;
        padding: 50px 10px;

        .paginacontacto__contacto--h1 {
            font: $titular-bold;
            color: $color-red-custom;


        }


    }

    .paginacontacto__iframe--mapa {
        width: 500px;
        height: 400px;
    }

}

section.horario {

    @include flex (flex, row, space-between);
    align-items: center;
    color: $color-texto;

    h3 {
        font: $h3;
    }

    h4 {
        font: $h4;
    }

    h5 {
        font: $h5;

    }


    .formulario__etiqueta {

        width: 500px;

    }

    .comentarios__area {
        max-height: 150px;
        resize: vertical;
    }




}

section {

    div.float {

        .float__flex--icono {
            position: fixed;
            bottom: 50px;
            right: 50px;
            width: 80px;

        }
    }

}

/*Servicios*/

section.section-principal {

    text-align: center;
    margin-top: 30px;
    padding: 20px;
    color: $color-texto;

    div.texto-servicios__encabezado {

        .texto-servicios__encabezado--principal {
            color: $color-texto;
            font-style: bold;
            text-decoration: underline;
            margin-top: 10px;
            margin-bottom: 30px;

        }

        .texto-servicios__encabezado--secundario {
            margin-bottom: 20px;

        }

    }

    div.texto__lista {

        .texto__lista--items {
            margin-left: 10px;
        }


    }


    .boton__enviar--consultar {
        position: relative;
        top: 50px;


        &:hover {
            color: $color-body;
            background-color: $color-red-custom;

        }

        &:active {

            color: $color-texto;

        }
    }

    div.imagenes {

        .imagenes__img1,
        .imagenes__img2 {

            @include imagenes (500px, 250px);
            margin: 0.5rem 0;

        }




    }

}

section.financiacion {

    position: relative;
    bottom: -110px;
    height: 70px;
    text-align: center;
    background-color: $color-red-custom;
    border-radius: 10px;
    width: 1000px;
    align-items: center;


    .financiacion__titulo {
        padding: 25px 10px;
        color: $color-texto;



    }

    .financiacion__pagos {


        background-color: $color-texto;
        border-radius: 20px;
        padding: 5px;
        margin: 10px;
        width: 500px;
        height: 50px;


    }

    .financiacion__pagos--visa {
        width: 65px;


    }



}

/*Nosotros*/

section {

    .card {
        background-color: $color-body;
        margin-top: 20px;
        border: none;

        .card-body {
            color: $color-texto;
            padding: 5px;
            margin: 10px;

        }

    }

    div {

        img.local,
        img.local1 {

            @include imagenes (800px, 400px);

        }


    }
}

/*Productos*/

section.productos-flex {

    padding: 10px;
    @include flex (flex, row, center);
    align-items: flex-start;

    .tabla {

        @include flex (flex, column, center);
        align-items: center;
        margin: 0 10px;

        .boton-visible,
        .productos-oculto {

            width: 150px;
        }
    }

    .tabla1 {
        text-align: center;
        @include flex (flex, column, center);

        h2 {
            font: $subtitulo;
            color: $color-texto;
            margin-bottom: 20px;
        }

        .icon {

            @include imagenes (40px, 40px);


        }

        .img-productos {

            .img-productos__muestras {

                @include imagenes (250px, auto);
                padding: 2px;

            }
        }

    }

}




















@import "./partials/queries"