@import "./partials/reset";
@import "./partials/fonts";
@import "./partials/body";
@import "./partials/logo";
@import "./partials/enlaces";
@import "./partials/grid-navbar";
@import "./partials/footer";






/*secciones de pagina principal*/

section.cabecera {

    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-items: center;

    .cabecera__titular {
        font-size: 30px;
        font-family: "poppins";
        padding: 5px;
        color: #ef233c;

    }

    .cabecera__subtitulo {
        color: #edf2f4;
        font-size: 20px;
    }

}




section.section1 {

    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;


    .section1__text {
        width: 300px;
        height: 200px;
        text-align: center;
        padding: 10px;
        color: #edf2f4;
    }

}


section.section2 {

    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;



    .section2__text {
        width: 300px;
        height: 200px;
        text-align: center;
        padding: 10px;
        color: #edf2f4;

    }

}

div.imagen1 {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;

    .imagen1__custom {
        width: 650px;
        height: 350px;


    }


}

div.imagen2 {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;

    .imagen2__custom {
        width: 650px;
        height: 350px;


    }


}

footer.pie {
    height: 80px;
    padding: 20px;

}

/*Pagina de contacto*/

section.paginacontacto {

    margin-top: 20px;

    .paginacontacto__contacto {
        color: #edf2f4;
        font-family: "poppins";
        text-align: center;
        padding: 50px 10px;
        font-size: 16px;

        .paginacontacto__contacto--h1 {
            font-style: bold;

        }


    }

    .paginacontacto__iframe--mapa {
        width: 500px;
        height: 400px;
    }

}

section.horario {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;


    .horario__atencion {
        color: #edf2f4;
    }

    .formulario__etiqueta {
        color: #edf2f4;
        width: 500px;

    }

    .comentarios__area {
        max-height: 150px;
        resize: vertical;
    }



}

section {

    div.float {

        .float__flex--icono {
            position: fixed;
            bottom: 90px;
            right: 50px;
            width: 80px;

        }
    }

}

section.section-principal {

    text-align: center;
    margin-top: 30px;
    padding: 20px;
    font-family: "poppins";
    color: #edf2f4;

    div.texto__encabezado {

        .texto__encabezado--principal {
            font-style: bold;
            text-decoration: underline;
            margin-top: 10px;
            margin-bottom: 30px;

        }

        .texto__encabezado--secundario {
            margin-bottom: 20px;

        }

    }

    div.texto__lista {

        .texto__lista--items {
            margin-left: 10px;
        }


    }

    .boton__enviar--consultar {
        position: relative;
        top: 50px;
        

        &:hover {

            background-color: #c70017;

        }

        &:active {

            color: #000000;
            
        }
    }

    div.imagenes {

        .imagenes__img1,
        .imagenes__img2 {
            width: 500px;
            height: 200px;
            margin: 0.5rem 0;

        }




    }

}

section.financiacion {

    position: relative;
    bottom: -110px;
    height: 60px;
    text-align: center;


    .financiacion__titulo {
        padding: 25px 10px;
        color: #edf2f4;


    }

    .financiacion__pagos {

        padding: 5px;
        margin: 10px;
        width: 500px;
        height: 50px;


    }

    .financiacion__pagos--visa {
        width: 65px;


    }



}











@import "./partials/queries"