




/*secciones de pagina principal*/

section.cabecera {

    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-items: center;

    .cabecera__titular {
        font-size: 30px;
        font-family: "poppins";
        padding: 5px;
        color: #ef233c;

    }

    .cabecera__subtitulo {
        color: #edf2f4;
        font-size: 20px;
    }

}




section.section1 {

    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;


    .section1__text {
        width: 300px;
        height: 200px;
        text-align: center;
        padding: 10px;
        color: #edf2f4;
    }

}


section.section2 {

    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;



    .section2__text {
        width: 300px;
        height: 200px;
        text-align: center;
        padding: 10px;
        color: #edf2f4;

    }

}

div.imagen1 {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;

    .imagen1__custom {
        width: 650px;
        height: 350px;


    }


}

div.imagen2 {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;

    .imagen2__custom {
        width: 650px;
        height: 350px;


    }


}
footer.pie{
    height: 80px;
    padding: 20px;

}

/*Pagina de contacto*/

section.paginacontacto {

    margin-top: 20px;

    .paginacontacto__contacto {
        color: #edf2f4;
        font-family: "poppins";
        text-align: center;
        padding: 50px 10px;
        font-size: 16px;

        .paginacontacto__contacto--h1 {
            font-style: bold;

        }





    .horario__atencion {
        color: #edf2f4;
    }

    .formulario__etiqueta {
        color: #edf2f4;
        width: 500px;

    }

    .comentarios__area {
        max-height: 150px;
        resize: vertical;
    }



}

section{

    div.float{

        .float__flex--icono {
            position: fixed;
            bottom: 90px;
            right: 50px;
            width: 80px;

        }
    }

}

@import "./partials/queries"