@import "./variables";
@import "./mixin";


.pie {

    background-color: $color-red-custom;
    @include flex (flex, row, space-between);
    align-items: center;
    margin-top: 200px;
    text-align: center;

    .pie__p1 {
        padding: 5px 0px;
        color: $color-texto;
    }

    .pie__subir{

        &:hover {
            color: $color-texto;
    
            &:active {
                color: $color-body;
            }
        }

    }

    

    .pie__enlaces--insta:hover {
        color: $color-insta;
    }

    .pie__enlaces--face:hover {
        color: $color-face ;
    }

    .pie__enlaces--whatsapp:hover {
        color: $color-whatsapp;
    }

    .pie__enlaces--mail:hover {
        color: $color-gmail;
    }

}