@import "./variables";
@import "./mixin";

nav.navbar {
    background: $color-red-custom;
    @include flex (flex, row, center);
    align-items: center;
    text-align: center;
    height: 60px;
    padding: 8px 0px;

    .nav-link.active{
        color:$color-body;
      
    }

    li .nav-link {
        color: $color-texto;
        font-weight: bold;
        font: $subtitulo;
    }

    .navbar-nav .nav-link:hover {
        color: $color-body;
        text-decoration: underline;
        
        

}
}

main.grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 100px repeat(2, 500px)auto 150px;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-areas:
        "navbar navbar navbar"
        "cabecera cabecera cabecera"
        "section1 imagen1 imagen1"
        "imagen2 imagen2 section2"
        "section3 section3 section3"
        "pie pie pie";

    .cabecera {
        text-align: center;
        margin-top: 10px;
        padding: 20px;
        grid-area: cabecera;

    }


    .navbar {
        grid-area: navbar;
        
    }

    .section1 {
        margin-left: 150px;
        grid-area: section1;
    }

    .section2 {
        margin-right: 150px;
        grid-area: section2;
    }

    .footer {
        grid-area: pie;
    }

    .imagen1 {
        grid-area: imagen1;

    }

    .imagen2 {
        grid-area: imagen2;

    }

    .section3{
        grid-area: section3;
    }

}