header.padre {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

   
}