/* Media queries */


@import "./variables";
@import "./mixin";



@media screen and (max-width: 620px) {

    /* Secciones generales */

    header.padre {

        padding-top: 0px;
        @include imagenes (auto, 250px)

       


    }


    nav.navbar {
        position: static;

        .grilla__boton--hamburguesa {
            background-color: $color-red-custom;


        }

        .hamburguesa__lista {
            @include flex (flex, column, center);

            padding-left: 30px;
            align-items: flex-start;
        }
    }

    footer.pie {
        padding: 20px 0;
        height: 200px;
        background: $color-red-custom;
        @include flex (flex, column, space-around);
        align-items: flex-start;
        font: $h6;
        margin-top: 10px;

        .pie__p1 {
            position: relative;
            left: 30px;
            margin-left: 10px;
        }

        .pie__enlaces {

            position: relative;
            left: 30px;
            bottom: 50px;

        }

        .pie__subir {

            position: relative;
            left: 85%;
            bottom: 55px;
            color: $color-texto;

            &:active {
                color: $color-body;
            }

        }
    }


    /* Index */

    main.grid {

        row-gap: 10px;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
            "navbar navbar navbar"
            "cabecera cabecera cabecera"
            "imagen1 imagen1 imagen1"
            "section1 section1 section1"
            "imagen2 imagen2 imagen2"
            "section2 section2 section2"
            "pie pie pie";



        section.cabecera {

            height: 150px;
            margin-top: 0px;
            padding: 5px;
            text-align: center;

            .cabecera__titular {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .cabecera__subtitulo {
                font-size: 18px;
            }

        }


        div {

            .imagen1__custom,
            .imagen2__custom {
                width: 100%;
                height: auto;
                min-height: 200px;
                max-height: 275px;


            }

        }

        section.section1 {

            margin: 0;
            text-align: center;
            height: 250px;


            .section1__text {
                padding: 10px;
                height: 220px;

            }



        }

        section.section2 {

            margin: 0;
            text-align: center;
            height: 200px;

            .section2__text {
                padding: 10px;
                height: 120px;


            }



        }



    }

    /* Pagina de contacto */

    section.paginacontacto {

        .paginacontacto__contacto {
            padding: 10px 5px;
            margin-top: 25px;
            margin-bottom: 25px;

        }

        .paginacontacto__iframe--mapa {
            width: 100%;
            height: 200px;

        }


    }

    section.horario {

        display: flex;
        flex-direction: column !important;
        justify-content: center;

        

        .formulario__etiqueta {
            width: 300px;

        }

        .horario__atencion {
            margin-bottom: 20px;
        }

    }

    section {

        div.float {

            .float__flex--icono {
                display: none;

            }

        }
    }




    /*Nosotros*/

    section {

        div {

            img.local,
            img.local1 {
                
                @include imagenes (320px, 200px);

            }


        }
    }

    /*Servicios*/

    div.imagenes {

        margin-top: 80px;
    }

    section.financiacion {

        width: auto;
        height: 80px;
        padding: 10px;
        margin-bottom: 120px;
        position: relative;
        top: 20px;

        .financiacion__titulo {

            text-align: center;
            position: absolute;
            height: 100px;

            .financiacion__titulo--parrafo {

                margin-top: 5px;
                height: 50px;
                text-align: center;


            }
        }

        .financiacion__pagos {
            position: relative;
            top: 75px;
            margin: 0;
            padding: 0;
            justify-content: space-around !important;
            align-items: center;
            background-color: #edf2f4;
            border-radius: 15px;
            min-width: 320px;
            height: 60px;



            .icon {
                
                @include imagenes (65px, 35px);

            }

            .financiacion__pagos--mastercard,
            .financiacion__pagos--visa {

                width: 45px;


            }

        }


    }

    /*Productos*/

    section.productos-flex {

        @include flex (flex, column, center);
        text-align: center;
        
        .list-group {
            width: 250px;

        }


        div.tabla {
            

            .boton-visible {
                width: 250px;

            }

            .productos-oculto {
                display: none;
            }


        }

        div.tabla1 {

            margin-top: 10px;

            h2 {
                font-size: 1rem;
            }

            .img-productos {

                .img-productos__muestras {

                    @include imagenes (190px, 100px);
                }
            }
        }


    }



}
@media (min-width: 320px) and (max-width: 404px) {
    
    /*Productos*/

    section.productos-flex {

        div.tabla1 {
            width: 100%;
           
            .img-productos {
                margin: 0;

                .img-productos__muestras {
                    padding: 1px;
                    width: 150px;
                    height: 100px;
                }
            }
        }


    }

}




@media (min-width: 576px) and (max-width: 620px) {

    /*Index*/

    div.imagen1,
    div.imagen2 {

        .imagen1__custom,
        .imagen2__custom {
            width: 95% !important;
            height: 300px !important;



        }


    }

    /*Productos*/

    section.productos-flex {

        button.productos-oculto {

            display: none;

        }
        .list-group {
            width: 350px;

        }


        div.tabla {
            

            .boton-visible {
                width: 350px;

            }
    }
}
}

   

@media (min-width: 620px) and (max-width: 767px) {

    /*General*/
    header.padre {

        padding-top: 0px;
        height: 300px;


    }


    nav.navbar {
        position: static;

        .grilla__boton--hamburguesa {
            background-color: $color-red-custom;


        }

        .hamburguesa__lista {
            @include flex (flex, column, center);
            padding-left: 30px;
            align-items: flex-start;
        }
    }



    footer.pie {
        padding: 20px 0;
        height: 200px;
        background: $color-red-custom;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        font-size: 12px;
        margin-top: 10px;

        .pie__p1 {
            position: relative;
            left: 30px;
            margin-left: 10px;
        }

        .pie__enlaces {

            position: relative;
            left: 30px;
            bottom: 50px;

        }

        .pie__subir {

            position: relative;
            left: 85%;
            bottom: 55px;
            color: $color-texto;

        

        }
    }


    /*Index*/


    main.grid {

        row-gap: 10px;
        grid-template-rows: 65px 150px repeat(4, auto) 200px;
        grid-template-areas:
            "navbar navbar navbar"
            "cabecera cabecera cabecera"
            "imagen1 imagen1 imagen1"
            "section1 section1 section1"
            "imagen2 imagen2 imagen2"
            "section2 section2 section2"
            "pie pie pie";


        section.cabecera {

            height: 180px;
            margin-top: 10px;



            .cabecera__titular {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .cabecera__subtitulo {
                font-size: 18px;
            }

        }




        section.section1 {

            margin: 0;
            margin-top: 20px;
            height: 250px;


            .section1__text {
                padding: 10px;
                height: 230px;

            }

        }

        section.section2 {

            margin: 0;
            height: 200px;

            .section2__text {
                padding: 10px;
                height: 120px;
                margin: 0;


            }



        }

        div {

            .imagen1__custom,
            .imagen2__custom {
                width: 95%;
                height: 350px;



            }

        }

    }

    /*Contacto*/

    section.horario {

        @include flex (flex, column, center);
        margin-bottom: 20px;

    }

    /*Nosotros*/

    section {

        div {

            img.local,
            img.local1 {
                @include imagenes (600px, 350px);
            }


        }
    }

    section {

        div.float {

            .float__flex--icono {
                display: none;

            }

        }
    }

    /*Servicios*/

    div.imagenes {
        margin-top: 80px;

        .imagenes__img1,
        .imagenes__img2 {
            height: 250px !important;
        }


    }

    section.financiacion {

        width: auto;
        height: 80px;
        padding: 10px;
        margin-bottom: 120px;
        position: relative;
        top: 20px;

        .financiacion__titulo {

            text-align: center;
            position: absolute;
            height: 100px;

            .financiacion__titulo--parrafo {

                margin-top: 5px;
                height: 50px;
                text-align: center;


            }
        }

        .financiacion__pagos {
            position: relative;
            top: 75px;
            margin: 0;
            padding: 0;
            justify-content: space-around !important;
            align-items: center;
            background-color: $color-texto;
            border-radius: 15px;
            min-width: 320px;
            height: 60px;



            .icon {
                width: 65px;
                height: 35px;

            }

            .financiacion__pagos--mastercard,
            .financiacion__pagos--visa {

                width: 45px;


            }

        }


    }

    /*Productos*/

    section.productos-flex {

        button.productos-oculto {

            display: none;

        }

        #collapseWidthExample {
            display: block;
            width: 150px;


        }


    }

    div.tabla1 {

        margin-top: 10px;

        h2 {
            font-size: 1rem;
        }

        .img-productos {

            .img-productos__muestras {

                @include imagenes (190px, 100px);

            }
        }
    }





}
@media (min-width: 620px) and (max-width: 694px){

    /*Productos*/

    section.productos-flex {

        button.productos-oculto {

            display: none;

        }

        #collapseWidthExample {
            display: block;
            width: 150px;


        }


    }

    div.tabla1 {

        .img-productos {

            .img-productos__muestras {

                width: 200px !important;

            }
        }
    }


}



@media (min-width: 768px) and (max-width: 991px) {


    /*General*/
    header.padre {

        padding-top: 0px;
        height: 350px;


    }


    nav.navbar {

        position: static;

        .grilla__boton--hamburguesa {
            background-color: $color-red-custom


        }



        .hamburguesa__lista {
            
            @include flex (flex, column, center);
            padding-left: 30px;
            align-items: flex-start;
        }



    }

    footer.pie {
        padding: 20px 0;
        height: 200px;
        background: $color-red-custom;
        @include flex (flex, column, space-around);
        align-items: flex-start;
        font-size: 12px;
        margin-top: 50px;

        .pie__p1 {
            position: relative;
            left: 30px;
            margin-left: 10px;
        }

        .pie__enlaces {

            position: relative;
            left: 30px;
            bottom: 50px;

        }

        .pie__subir {

            position: relative;
            left: 85%;
            bottom: 55px;
            color: $color-texto;

            &:hover {
                color: $color-texto;
            }



        }
    }


    /*Index*/


    main.grid {

        row-gap: 10px;
        grid-template-rows: 70px 200px repeat(2, 350px) 200px;
        grid-template-areas:
            "navbar navbar navbar"
            "cabecera cabecera cabecera"
            "imagen1 imagen1 section1"
            "section2 imagen2 imagen2"
            "pie pie pie";


        section.cabecera {

            height: 150px;
            margin-top: 10px;



            .cabecera__titular {
                font: $titular;
                margin-bottom: 20px;
            }

            .cabecera__subtitulo {
                font:$subtitulo;
            }

        }




        section.section1 {

            margin: 0;
            margin-top: 80px;
            height: 200px;


            .section1__text {
                padding: 10px;
                height: 230px;

            }

        }

        section.section2 {

            margin: 0;
            margin-top: 30px;
            height: 200px;

            .section2__text {
                padding: 10px;
                height: 120px;
                margin: 0;


            }



        }

        div {

            .imagen1__custom,
            .imagen2__custom {

                width: 90%;
                height: 300px;



            }

        }

    }



    /*Contacto*/

    section.horario {


        @include flex (flex, row, space-between);
        flex-wrap: nowrap;
        margin-top: 30px;

        .horario__atencion {
            width: 320px;
        }


        .formulario__etiqueta {
            color: $color-texto;
            width: 300px;

        }

        .comentarios__area {
            max-height: 150px;
            resize: vertical;
        }

    }

    section {

        div.float {

            .float__flex--icono {
                position: fixed;
                bottom: 40px;
                right: 50px;
                width: 80px;

            }
        }

    }

    /*Nosotros*/

    section {

        div {

            img.local,
            img.local1 {
                
                @include imagenes (600px, 330px);

            }


        }
    }


    /*Servicios*/

    section {


        div.servicios {

            display: flex;
            flex-flow: row nowrap;

            div.imagenes {

                position: relative;
                top: 100px;
                left: 15px;

            }



            .texto-servicios__encabezado {

                
                @include flex (flex, row, space-between);

                .texto-servicios__encabezado--secundario {

                    margin-top: 20px;
                }


            }


        }

    }

    section.financiacion {

        height: 100px;
        margin-bottom: 250px;

        .financiacion__titulo {

            height: 100px;
        }

        .financiacion__pagos {

            position: relative;
            top: 5px;
        }

    }

    /*Productos*/

    section.productos-flex {


        .tabla {


            .boton-visible {
                width: 180px;
            }

            button.productos-oculto {

                display: none;


            }

            #collapseWidthExample {
                display: block;
                width: 180px;


            }

        }

        .tabla1 {

            .img-productos {

                .img-productos__muestras {

                 
                    @include imagenes (220px, 120px);

                }

            }

        }
    }
}

@media (min-width: 992px) {

    /*Footer*/
    footer.pie {

        height: 200px;
        @include flex (flex, row, space-between);
        align-items: flex-start;


    }


    /*Productos*/

    section.productos-flex {

        .tabla {

            .boton-visible {
                width: 200px;
            }

            button.productos-oculto {

                display: none;


            }

            #collapseWidthExample {
                display: block;
                width: 200px;


            }


        }



        .tabla1 {

            .img-productos {

                .img-productos__muestras {

                    @include imagenes (220px, 120px);

                }

            }

        }

    }

}

