/*Variables*/

$titular-bold: bold 30px "poppins" , san-serif; 
$titular:   normal 30px "poppins" , sans-serif;
$subtitulo: normal 24px "poppins", sans-serif;
$h3: normal 20px "poppins", sans-serif;
$h4: normal 18px "poppins", sans-serif;
$h5: normal 16px "poppins";
$h6: normal 14px "poppins";
$font-texto: normal 16px "poppins";
$color-red-custom: #ef233c;
$color-texto: #edf2f4;
$color-body: #021f54;
$color-face: #143a8d;
$color-insta: #3d0158;
$color-whatsapp: #1b6811;
$color-gmail: red;
$color-black: black;